################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KL_E-Commerce/.vs/KL_E-Commerce/v15/Server/sqlite3/db.lock
/KL_E-Commerce/KL_E-Commerce.Web/App_Data/aspnet-KL_E-Commerce.Web-20180618125810.mdf
/KL_E-Commerce/KL_E-Commerce.Web/App_Data/aspnet-KL_E-Commerce.Web-20180618125810_log.ldf
